<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
    <link rel="stylesheet" href="style.css">
    </title>
  </head>
  <body>
    <header class="site-header">
      <a href="#" class="one_share">one_share</a>
    </header>

    <div class="main">
      <div class="main-menu">
        <div class="haiti">
            <div class="login-in">
              <%= link_to "ログイン", "#", class: "post" %><br>
            </div>
            <div class="login-new">
              <%= link_to "新規登録", "#", class: "post" %>
            </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
