<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
    <link rel="stylesheet" href="style.css">
    </title>
  </head>
  <body>
    <header class="site-header">
      <a href="#" class="one_share">one_share</a>
    </header>

    <div class="main">
    <% if user_signed_in? %>
        <div class="user_nav">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
    <% else %>
      <div class="main-menu">
        <div class="haiti">
            <div class="login-in">
              <%= link_to "ログイン", user_session_path, class: "post" %><br>
            </div>
            <div class="login-new">
              <%= link_to "新規登録", new_user_registration_path, class: "post" %>
            </div>
        </div>
      </div>
    <% end %>
      
    </div>
    
  </body>
</html>
