.one_share {
  font-weight: bold;
  font-size: 30px; }

.site-header {
  height: 50px;
  background-color: #def7ff;
}
.main{
  height: 500px;
  width: 100%;
  background-color:rgb(81, 99, 122);
  padding-top: 30px;
  text-align: center;
}
.main-menu{
  border: 1px solid white;
  height: 260px;
  width: 200px;
  margin-top: 10%;
  margin-left: 40%;
  background-color: darkgrey;
}

.haiti{
  text-align: center;
  padding-top: 80px;
}
.login-in{
font-size: 20px;
}
.login-new{
  font-size: 20px;
}